In [26]:
import sys
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import joblib

In [27]:
TRAIN_DATA = "housing.csv"
MODEL_NAME = "model.joblib"
RANDOM_STATE = 100
input_data_path = "housing.csv"

In [28]:
df = pd.read_csv(input_data_path)
df

,LONGITUDE,LAT,MEDIAN_AGE,ROOMS,BEDROOMS,POP,HOUSEHOLDS,MEDIAN_INCOME,MEDIAN_HOUSE_VALUE,OCEAN_PROXIMITY,AGENCY
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [29]:
# prepare_data(input_data_path):
df = df.dropna()
df.columns = df.columns.str.lower()

In [30]:
df_features = df.drop(["median_house_value"], axis=1)
y = df["median_house_value"].values
df

,longitude,lat,median_age,rooms,bedrooms,pop,households,median_income,median_house_value,ocean_proximity,agency
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [31]:
# encode the categorical variables
# df = pd.get_dummies(df)
df

,longitude,lat,median_age_1.0,median_age_10.0,median_age_11.0,median_age_12.0,median_age_13.0,median_age_14.0,median_age_15.0,median_age_16.0,...,median_house_value_99900.0,median_house_value_Null,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,ocean_proximity_Null,ocean_proximity_OUT OF REACH,agency_YES
0,-122.22,37.86,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,-122.24,37.85,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,-122.25,37.85,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,-122.25,37.85,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,-122.25,37.85,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20635,-121.21,39.49,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20636,-121.22,39.43,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20637,-121.32,39.43,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20638,-121.24,39.37,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    df_features, y, test_size=0.2, random_state=RANDOM_STATE
)

In [33]:
# what columns are expected by the model
X_train.columns

Index(['longitude', 'lat', 'median_age', 'rooms', 'bedrooms', 'pop',
       'households', 'median_income', 'ocean_proximity', 'agency'],
      dtype='object')

In [34]:
regr = RandomForestRegressor(max_depth=12)
regr.fit(X_train, y_train)

ValueError: could not convert string to float: 'Null'

In [ ]:
def predict(X, model):
    Y = model.predict(X)
    return Y

In [ ]:
def save_model(model, filename):
    with open(filename, "wb"):
        joblib.dump(model, filename, compress=3)

In [ ]:
def load_model(filename):
    model = joblib.load(filename)
    return model

In [ ]:
if __name__ == "__main__":
    logging.info("Preparing the data...")
    X_train, X_test, y_train, y_test = prepare_data(TRAIN_DATA)

    # the model was already trained before
    # logging.info('Training the model...')
    # regr = train(TRAIN_DATA)

    # the model was already saved before into file 'model.joblib'
    # logging.info('Exporting the model...')
    # save_model(regr, MODEL_NAME)

    logging.info("Loading the model...")
    model = load_model(MODEL_NAME)

    logging.info("Calculating train dataset predictions...")
    y_pred_train = predict(X_train, model)
    logging.info("Calculating test dataset predictions...")
    y_pred_test = predict(X_test, model)

    # evaluate model
    logging.info("Evaluating the model...")
    train_error = mean_absolute_error(y_train, y_pred_train)
    test_error = mean_absolute_error(y_test, y_pred_test)

    logging.info("First 5 predictions:")
    logging.info(f"\n{X_test.head()}")
    logging.info(y_pred_test[:5])
    logging.info(f"Train error: {train_error}")
    logging.info(f"Test error: {test_error}")